nav ul {
  padding: 0;
}
nav li {
  display: inline;
  padding-right: 1rem;
}
.app {
  padding: 0.5rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.theme-changer {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

html[data-colortheme="dark"]  {
  color: rgb(250, 250, 250);
  background-color: rgb(5, 5, 5);
}

html[data-colortheme="light"]  {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
}

html[data-layouttheme="normal"]  {
  font-size: 100%;
}

html[data-layouttheme="large"]  {
  font-size: 200%;
}